@import './../../styles/colors.scss';

.passwordStrength_wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 4px 0 0;
}

.passwordStrength_low,
.passwordStrength_medium,
.passwordStrength_high,
.passwordStrength_perfect {
  width: 24%;
  height: 10px;
  border-radius: 5px;
  background-color: $white;
  border: 1px solid $gray;
}

.passwordStrength_low.active {
  background-color: hsl(1, 100%, 68%);
  border: 1px solid transparent;
}

.passwordStrength_medium.active {
  background-color: hsl(44, 100%, 52%);
}

.passwordStrength_high.active {
  background-color: hsl(52, 100%, 68%);
}

.passwordStrength_perfect.active {
  background-color: rgb(111, 207, 111);
}
