$white: #ffffff;
$dark-white: #e1e6e9;
$light-gray: #c0d0d8;
$medium-gray: #90a4ae;
$gray: #6a6a6a;
$dark-gray: #37474f;
$light-blue: #a1c6d8;
$blue: #6badce;
$dark-blue: #3d7896;
$red: #dd8c86;
$light-red: #f0ada8;
