$light-blue: #ebf2fa;
$dark-blue: #213547;
$light-gray: #f0f0f0;
$medium-gray: #e2e2e2;
$grayish: #cecece;
$gray: #8e9aaf;
$dark-gray: #68707e;
$light-orange: #ffecc9;
$orange: #ffa500;
$white: #ffffff;
$medium-white: #f7f7f7;
