@import '../../styles/colors.scss';

.wrapper {
  background-color: $white;
  padding: 20px 80px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.searchWord {
  font-family: Roboto, serif;
  font-size: 24px;
  font-weight: 300;
  color: $gray;

  & p {
    margin: 10px 0 0;
  }
}

.cardsWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.cardsPaginationWrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.loaderWrapper {
  display: flex;
  justify-content: center;
}

.notFound {
  font-family: Roboto, serif;
  font-size: 24px;
  font-weight: 400;
  color: $light-red;
  border: 2px dashed $light-red;
  padding: 20px;
}
@media screen and (max-width: 1000px) {
  .wrapper {
    padding: 20px 40px;
  }
}
