@import '../../styles/colors.scss';

.form {
  display: flex;
  gap: 20px;
}

.input {
  width: 280px;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 4px 4px 4px 60px;
  font-family: Roboto, serif;
  font-size: 24px;
  font-weight: 300;
  color: light-dark($gray, $white);
  background-repeat: no-repeat;
  background-position: 10px;
  background-size: 26px;
  background-color: light-dark($dark-white, $black);
  border-color: light-dark(transparent, $medium-gray);
  background-image: url(./../../../public/assets/loupe.svg);
  transition: all 0.2s ease-in-out;

  &::placeholder {
    color: light-dark($medium-gray, $light-gray);
    font-weight: 100;
  }

  &:focus {
    outline: none;
    background-color: light-dark($white, $dark-gray);
  }
}

@media screen and (max-width: 1000px) {
  .form {
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 480px) {
  .input {
    width: 100%;
  }
}
