@import '../../styles/colors.scss';

.wrapper {
  padding: 20px 80px;
  background-color: light-dark($dark-gray, $black);
  display: flex;
  justify-content: space-between;
  width: -webkit-fill-available;
}

@media screen and (max-width: 1000px) {
  .wrapper {
    flex-direction: column;
    align-items: center;
    padding: 20px 40px;
    gap: 20px;
  }
}
